{% extends "base.html" %}

{% load threadedcommentstags %}
{% load scofield_tags %}
{% load thumbnail %}


{% block content %}
    <h2>{{ product.name }}</h2>
    <p>{{ product.description }}</p>
    
    <h3>Product Images</h3>
    {% for image in images %}
        {% thumbnail image.image 50x50 bw,autocrop as thumb %}
        <img src="{{ thumb }}" width="{{ thumb.width }}" height="{{ thumb.height }}" />
    {% endfor %}

    <h3>Product Literature</h3>
    <ul>
    {% for doc in docs %}
        <li><a href="{{ MEDIA_URL }}{{ doc.document }}">{{ doc.document }}</a></li>
    {% endfor %}
    </ul>


    MSRP: {{ product.msrp|currency }}<br />
    Price: {{ product.get_price|currency }}<br />

    <h3>Add To Cart</h3>
    <form method="POST" action="{% url add_to_cart %}" id="add_to_cart">
        <input type="hidden" name="product" value="{{ product.slug }}" />
        <label>Quantity <input type="text" size="2" name="quantity" value="1" /></label>
        <input type="submit" value="Add to Cart" />
    </form>

    <h2>Related Products</h2>
    {% for related in related %}
    <a href="{{ related.get_absolute_url }}">{{ related.name }}</a>: {{ related.get_price|currency }}<br />
    {% endfor %}


    <h3>Comments on {{ product.name }}:</h3>
    {% get_free_threaded_comment_tree for product as tree %}
    {% for comment in tree %}
        <div style="margin-left: {{ comment.depth }}em;" class="comment">
            <a href="{{ comment.website }}">{{ comment.name }}</a> said:<br/>
            {% auto_transform_markup comment %}
        </div>
    {% endfor %}
    <p>Reply to Original:</p>
    <form method="POST" action="{% get_free_comment_url product %}">
        <ul>
            {% get_free_threaded_comment_form as form %}
            {{ form.as_ul }}
            <li><input type="submit" value="Submit Comment" /></li>
        </ul>
    </form>
{% endblock %}
