{% extends "base.html" %}


{% block content %}
    <div class="clearfix padtop">
        <div id="basic-form">
        <fieldset>
            <legend>Sign Up</legend>
    
            {% if user.is_authenticated %}
                <p>You are already logged in.</p>
            {% else %}
                <p>Already have an account? <a href="{% url acct_login %}">Log In</a>!</p>
        
                <form class="signupform" id="signup_form" method="post" action="{% url acct_signup %}">
                    <table width="300px">
                        {{ form.as_table }}
                        <tr><td></td><td><input type="submit" value="Sign Up &raquo;" class="button" /></td></tr>
                    </table>
                </form>
            {% endif %}
        </fieldset>
        </div>
    </div>
{% endblock %}